
.hip-chat-web-panel-icon:after {
    content: "";
    height: 48px;
    left: 0;
    position: absolute;
    top: 0;
    width: 48px;
    background: transparent url(images/hipchat-large.png) no-repeat 0 0;
}

.hip-chat-web-panel-column {
    float: left;
    width: 50%;
    margin-top: 20px;
}

.hip-chat-web-panel-link {
    margin-top: 10px;
}