.hipchat-jql-container {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 500px;
}

.hipchat-jql-loading {
    margin-right: 6px;
}

.hipchat-jql-container #hipchat-jql-error {
    position: absolute;
    left: 5px;
    top: 14px;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    z-index: 2;
}

.hipchat-jql-container textarea#hipchat-jql-text {
    resize: vertical;
    width: 100%;
    height: auto;
    max-width: none;
    padding-left: 26px;
    padding-right: 46px;
    vertical-align: top;
    z-index: 1;
}